[submodule "LPC3250Drivers"]
	path = LPC3250Drivers
url=https://gitlab.contal.sk/drivers/lpc32xxdrivers/lpc32xxdrivers.git
[submodule "DoorStateMachine"]
	path = DoorStateMachine
url=https://gitlab.contal.sk/frameworks/doorstatemachine/doorstatemachine.git
[submodule "ClspDrivers"]
	path = ClspDrivers
url=https://gitlab.contal.sk/drivers/clspdrivers/clspdrivers.git
[submodule "BoolExpressions"]
	path = BoolExpressions
url=https://gitlab.contal.sk/frameworks/boolexpressions/boolexpressions.git
[submodule "InterCommDrivers"]
	path = InterCommDrivers
url=https://gitlab.contal.sk/drivers/intercommdrivers/intercommdrivers.git

